:root{--primary:#005599;--dark:--light:#f4f4f4;}
body{font-family:sans-serif;margin:0; background:var(--light); color:var(--dark);}
nav {background: var(--primary); padding:1rem;display:flex;justify-content:space-around;}
nav a {color:white;text-decoration:none;font-weight:bold;}
.container {background:2rem;max-width:800px; margin:auto;}
.card {background:var(--primary);padding:1rem;display:flex;justify-content:space-around;}
input, select, button{width:100%; padding:0.8rem;maegin:0.5rem 0; border:1px solid #ccc;border-radius:
  4px; box-sizing:borde-border-box;}
button{background:var(--primary);color: white; border; none; cursor:pointer;font-size:1rem;}
button:hover{opacity:0.9;}
table{width:100%; border-collapse:collapse; margin-top: 1rem}
th, td{ border-bottom: 1px solid #ddd; padding:10px; text-align:left;}

.banner{
  background: linear-gradient(rgba(0,85,153,0.8), rgba(0,85,153,0.8)),Url('imagens\senai.png');
  background-size:cover;
  calor: white;
  padding: 30px 20px;
  text-aling:center;
  margin-bottom: 10px;
}

.banner h1{
  magin: 0;
  font-size:2.5rem;
}

/*Estilo do Rodapé */
.rodapé{
  background-color:#333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;/*Garante distância do conteúdo superior*/
  width:100%;
}

.container-rodape p {
  margin:0.9em;
  opacity:o;
}

.container{
   flex:1;/*Faz o conteúdo principal esticar e empurrar o rodapé para baixo*/
}
